{% extends 'base.html' %}
{% block content %}
  <main id="main">

    <!-- ======= Blog Grid ======= -->
    <div id="journal-blog" class="text-left  paddsections">

      <div class="container">
        <div class="section-title text-center">
          <h2>Blog</h2>
        </div>
      </div>

      <div class="container">
        <div class="journal-block">
          <div class="row">
            {% for blog in object_list %}
            <div class="col-lg-4 col-md-6">
              <div class="journal-info mb-30">

                <a href="{% url 'blog_detail' blog.pk %}">
                    {% if blog.image %}
                    <img src="{{blog.image.url}}" class="img-responsive" alt="img"></a>
                    {% endif %}
                <div class="journal-txt">

                  <h4><a href="{% url 'blog_detail' blog.pk %}">{{blog.name}}</a></h4>
                  <p class="separator">
                    {{blog.content}}
                  </p>

                </div>

              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div><!-- End Blog Grid -->

  </main><!-- End #main -->
{% endblock %}
